{block content}
<div class="article">
	<h2 n:inner-block="title">{$article->title}</h2>
	<div class="published">{$article->published|date:'j.n.Y'}</div>
	<p class="content">
		{!$article->content}
	</p>
</div>
<ul>
	<li><a n:href="edit, $article->id">Editovať</a></li>
	<li><a n:href="delete!, $article->id" data-confirm="Naozaj chcete zmazať tento článok?">Zmazať</a></li>
	<li><a n:href="'list#article'.$article->id">Späť na zoznam</a></li>
</ul>
{/block}