{block content}
<h2 n:inner-block="title">Zoznam článkov</h2>
<a n:href="add">Pridať článok</a>
<div class="article-list">
	<ul>
		<li n:foreach="$articles as $article" id="article{$article->id}">
			{control articleControl-$article->id}
		</li>
	</ul>
</div>
{/block}